body {
    font-family: 'Arial', sans-serif;
}

header, footer {
    padding: 1em;
}

#menu .card {
    margin-bottom: 20px;
}

#gallery {
    padding: 3em 0;
}

#contact form {
    max-width: 500px;
    margin: auto;
}